BackGrounds/*
Copying.rtf
Fonts/*
Help 2.3.chm
History.ini
History.txt
Language/*
Modules/*
!Modules/HouseOfMercy.vbi
!Modules/HouseOfMercy.vbm
PlanDef.ini
Templates/*
!Templates/Empty/
!Templates/Empty/Empty.sch
VisioBible.exe
VisioBible.ini
VisioBible.tds
error.log
hotkeys.ini
jpeg62_32.dll